.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-left-color: $color-blue;
  margin: 0 auto;
  margin-top: 4em;

  animation: spin 1s ease infinite;

  @include mobile {
    width: 100px;
    height: 100px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}