* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

p {
  padding: 0.5em;
  margin: 0;
}

button {
  background-color: none;
  padding: 0.5em 1em;
  border: 0;
  cursor: pointer;
  border-radius: 0.2em;
}

.desktop {
  display: grid;
  grid-template-columns: 3fr 1fr;
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
}

.mobile {
  display: none;
  @include mobile {
    display: block;
  }
  @include tablet {
    display: block;
  }
}

.hide-tablet {
  @include tablet {
    display: none;
  }
}

.hide-mobile {
  @include mobile {
    display: none;
  }
}